.App {
  text-align: center;
  /* background-size: cover; */
  background-color: #131f3d;
  color: white;
  font-family: Montserrat;
}

.top {
  background-image: url("./assets/Heroimagebackground.png");
  background-repeat: no-repeat;
  padding-left: 10vh;
  padding-right: 10vh;
}

.werabbits {
  padding-left: 25vh;
  padding-right: 25vh;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.collection {
  padding-left: 27vh;
  padding-right: 27vh;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.collectionItem {
  padding-top: 4vh;
  padding-left: 8vh;
  padding-right: 8vh;
}

.collectionItemText {
  margin-top: 4vh;
  font-size: 5vh;
}

.CollectionDescription {
  margin-top: 3vh;
  font-size: 2vh;
}

.boldText {
  font-weight: bold;
}

h1, h2, .pinkText {
  color: #ff0fac;
  font-weight: bold;
  line-height: 7vh;
  font-size: 5.5vh;
}

.pinkTextColor {
  color: #ff0fac;
  font-weight: bold;
}

.greenText {
  color: #00e4a7;
  font-weight: bold;
}

.mycontent-left {
  border-right: 1px solid white;
}
.mycontent-top {
  border-bottom: 1px solid white;
}