.App {
  text-align: center;
  /* background-size: cover; */
  background-color: #131f3d;
  color: white;
  font-family: Montserrat;
}

.top {
  background-image: url("./assets/Heroimagebackground.png");
  background-repeat: no-repeat;
  padding-left: 10vh;
  padding-right: 10vh;
}

.werabbits {
  max-width: 140vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.collection {
  max-width: 140vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.raritytable {
  margin-top: 15vh;
  margin-bottom: 15vh;
  margin-left: auto;
  margin-right: auto;
}

.faq {
  max-width: 120vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.raritytabletable {
  width: 40vh;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.collectionItem {
  padding-top: 4vh;
  padding-left: 8vh;
  padding-right: 8vh;
}

.collectionItemText {
  margin-top: 4vh;
  font-size: 5vh;
}

.CollectionDescription {
  margin-top: 3vh;
  font-size: 2vh;
}

.boldText {
  font-weight: bold;
}

h1, h2, .pinkText {
  color: #ff0fac;
  font-weight: bold;
  line-height: 7vh;
  font-size: 5.5vh;
}

.pinkTextColor {
  color: #ff0fac;
  font-weight: bold;
}

.greenText {
  color: #00e4a7;
  font-weight: bold;
}

.mycontent-left {
  border-right: 1px solid white;
}
.mycontent-top {
  border-bottom: 1px solid white;
}